# 01. Data Preparation for EUROGREEN-Japan Model

**Objective**: Load, validate, and prepare the master dataset

**Dataset**: 1994-2023 (30 years, 91 variables)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

print('Libraries loaded')

Libraries loaded

In [2]:
# Load data
df = pd.read_csv('../data/raw/df_eurogreen_japan_complete.csv')
print(f'Dataset: {df.shape}')
df.head()

Dataset: (30, 93)

,Year,Priv_Cons,Gov_Cons,Priv_Res_Inv,Corp_Equip_Inv,Public_Inv,Exports,Imports,Real_Priv_Cons,Real_Gov_Cons,...,CO2_Agriculture,CO2_Energy,CO2_Manufacturing,CO2_Construction,CO2_Services,CO2_Total,Gini,Gini_interpolated,Gini_Before_Redistribution,Gini_After_Redistribution
0,1994.0,270953.3,76328.4,30816.8,80484.5,44955.3,45159.4,36446.5,250795.7,73111.7,...,20.414944,372.716579,798.697911,6.045613,426.341745,1624.216791,NaN,NaN,NaN,NaN
1,1995.0,276324.8,79149.3,29132.9,85897.5,47866.8,46887.1,41497.6,256869.2,75596.4,...,20.196274,360.595367,813.310082,6.226973,445.638150,1645.966846,NaN,NaN,NaN,NaN
2,1996.0,283765.4,81806.4,32971.3,89692.6,47087.7,51374.5,49750.8,263038.0,77203.4,...,21.007429,362.469168,823.646474,5.918736,450.026027,1663.067833,0.3606,0.360600,0.4412,0.3606
3,1997.0,284796.5,83390.8,27991.0,91411.1,44330.4,56808.4,49979.7,260139.6,78168.9,...,20.793816,357.641889,812.487850,5.615552,455.615582,1652.154688,NaN,0.367533,NaN,NaN
4,1998.0,284701.1,84466.8,24626.1,87008.7,44386.6,54129.4,44593.9,260945.6,79694.6,...,20.748550,344.516884,759.021088,5.374129,462.394238,1592.054889,NaN,0.374467,NaN,NaN